@import "mixins";
@import "variables";

body {
    font-family: $body;
    font-size: 1.25rem;
    @include color-assign(background-color, background);
    @include color-assign(color, text);
}

a {
    @include color-assign(color, accent);

    &:hover, &:focus {
        @include color-assign(color, accent-alt);
    }
}

main {
    margin: 0 auto;
    width: 60vw;
    min-width: 300px;
    max-width: 650px;
}

.dim {
    font-size: 1rem;
    @include color-assign(color, dim);
}

.toc {
    position: relative;
    display: inline-block;

    button {
        border: none;
        padding: 1em 1.2em;

        &:hover, &:focus {
            background-color: aliceblue;
            cursor: pointer;
        }
    }

    .content {
        display: none;
        position: absolute;
        background-color: aliceblue;
        min-width: 160px;
        z-index: 1;

        a {
            display: block;
        }
    }

    .show { display: block; }
}