@import "mixins";
@import "variables";

// base
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
    font-family: $body;
    font-size: 1.25rem;
    @include color-assign(background-color, background);
    @include color-assign(color, text);
    line-height: 1.5;

    > * {
        width: Min(100%, $max-width);
        max-width: 80vw;
        margin-inline: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
    margin-top: $layout-spacing;
}

:is(h1, h2, h3) {
    line-height: 1.2
}

:is(h2, h3):not(:first-child) {
    margin-top: 2em;
}

article {
    * + * {
        margin-top: 1em;
    }

    @media screen and (min-width: $max-view) {
        align-self: center;
        width: 80vw;
        display: grid;
        grid-template: 1fr 1fr / 20ch 1fr;

        .toc {
            grid-row: span 2;
        }

        .chapter {
            grid-column: 2;
        }
    }
}

a {
    @include color-assign(color, accent);

    &:hover, &:focus {
        @include color-assign(color, accent-alt);
    }
}

.dim {
    font-size: 0.9375rem;
    @include color-assign(color, dim);
}

// forms

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;

    &:focus {
        outline: 2px solid;
        @include color-assign(outline-color, dim);
    }
}

button {
    @include color-assign(background-color, accent);
    @include color-assign(color, background);
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    &:focus {
        @include color-assign(background-color, text);
    }
}

// main menu

.skip {
    position: absolute;
    left: -10000px;
    overflow: hidden;
    padding: 0.2em 0.5em;
    text-decoration: none;

    &:focus {
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        width: max-content;
        outline: 2px solid;
        @include color-assign(outline-color, dim);
    }
}

// posts / chapter

.chapter {
    font-family: $chapter;
    font-size: 1.1rem;
}

// fics toc dropdown menu

.toc {
    width: fit-content;
    details {
        cursor: pointer;
    }
}