<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invicta.exe</title>
    <link rel="stylesheet" href="/main.css" media="screen">
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock rss %}
    <link rel="preload" href="/fonts/galmuri.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Greybeard-16px.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Greybeard-16px-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Greybeard-16px-Bold.woff2" as="font" type="font/woff2" crossorigin>
    {% block preload %}
    {% endblock preload %}
</head>
<body>
    {% include "partials/nav.html" %}

    <main id="main">
        {% block content %}
        {% endblock content %}
    </main>
    
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>