<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invicta.exe</title>
    <link rel="stylesheet" href="/main.css" media="screen">
    <link rel="preload" href="/fonts/galmuri.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
    <a class="skip" href="#content">Skip to content</a>

    {% include "nav.html" %}

    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    
    {% block scripts %}
    {% endblock %}
</body>
</html>