{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <a class="path" href="/">Home</a>
    {% set current = section | default(value=page) %}
    {% for ancestor in current.ancestors %}
        {% if loop.first %}
            {% continue %}
        {% endif %}
        <span class="separator">/</span>
        {% set section = get_section(path=ancestor) %}
        <a class="path" href="{{ section.permalink }}">{{ section.title }}</a>
    {% endfor %}
    <span class="separator">/</span>
    <a class="path active" href="{{ current.permalink }}" aria-current="page">{{ current.title }}</a>
</nav>
{% endblock breadcrumb %}