{% extends "base.html" %}

{% block preload %}
<link rel="preload" href="/fonts/iAWriterDuospace-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterDuospace-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterDuospace-Bold.woff2" as="font" type="font/woff2" crossorigin>
{% endblock preload %}

{% block content %}

{% set parent = get_section(path=page.ancestors | last) %}
{% if parent.pages | length > 1 %}
<aside class="toc" aria-label="Table of contents">
    <details id="toc">
        <summary>Table of Contents</summary>
        <nav class="wrapper">
            <ol role="list">
                <li class="title">{{ parent.title }}</li>
                {% for chapter in parent.pages %}
                {% if current_url == chapter.permalink %}
                <li><a class="active" href="{{ chapter.permalink }}" aria-current="page">{{ chapter.title }}</a></li>
                {% else %}
                <li><a href="{{ chapter.permalink }}">{{ chapter.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </details>
</aside>
{% endif %}

<article id="content">
    <header>
        <h1 class="title">{{ page.title }}</h1>
        <aside class="meta dim">
            <time datetime="{{ page.date }}">Posted on {{ page.date | date(format='%B %_d, %Y') }}</time>
            <p class="readtime">{{ page.reading_time }} minute{{ page.reading_time | pluralize }}</p>
        </aside>
    </header>

    <div class="chapter">
    {{ page.content | safe }}
    </div>
</article>

<nav class="pagination" aria-label="Pagination">
    {% if page.lower %}
    <a class="previous" href="{{ page.lower.permalink }}"><span class="sr-hidden" role="presentation">←</span> {{ page.lower.title }}</a>
    {% endif %}

    <a class="index" href="{{ parent.permalink }}">Return to {{ parent.title }}</a>

    {% if page.higher %}
    <a class="next" href="{{ page.higher.permalink }}">{{ page.higher.title }} <span class="sr-hidden" role="presentation">→</span></a>
    {% endif %}
</nav>
{% endblock content %}