{% extends "base.html" %}

{% block content %}

<h1 class="title">{{ section.title }}</h1>

{% if section.content %}
{{ section.content | safe }}
{% endif %}

{% if section.subsections %}
<ul>
    {% for _section in section.subsections %}
    {% set section = get_section(path=_section) %}
    <li><a href="{{ section.permalink | safe }}">{{ section.title }}</a></li>
    {% endfor %}
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<ul>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% include "nav.html" %}

{% endblock content %}