{% extends "base.html" %}

{% block content %}

{% if page.ancestors %}
{% include "partials/breadcrumbs.html" %}
{% endif %}

{% if page %}
<article class="post">
<h1 class="title">{{ page.title }}</h1>
<aside class="meta dim">
    {% if page.date %}
    <time datetime="{{ page.date }}">Posted on {{ page.date | date(format='%B %_d, %Y') }}</time>
    {% endif %}
</aside>

    {{ page.content | safe }}

    {% if config.extra.comments.enable %}
    <article class="comment">
        <h2>user</h2>
        content
    </article>
    {% endif %}
</article>
{% else %}
<article class="post">
<h1 class="title">{{ section.title }}</h1>

    {{ section.content | safe }}
</article>
{% endif %}

{% if page.ancestors | length != 1 %}
    {% set return = get_section(path=page.ancestors | last) %}
    <a href="{{ return.permalink | safe }}"><span class="return" role="presentation">↩</span> Return to {{ return.title }}</a>
{% endif %}

{% endblock content %}